  <!-- Footer -->

  <footer class="footer bg-dark">
    <a href="https://twitter.com/krshubham544"><img src="/Images/twitter.png" class="footer-image" alt="twitter"></a> 
    <a href="https://www.facebook.com/kumar.shubham.1447342"><img src="/Images/facebook.png" class="footer-image" alt="facebook"></a> 
    <a href="https://www.instagram.com/i_krshubham544/"><img src="/Images/instagram.png" class="footer-image" alt="instagram"></a> 
  </footer>  


    
</body>
</html>
