  <!-- Footer -->

  <footer class="footer bg-dark">
    <a href="https://twitter.com/msdhoni"><img src="/Images/twitter.png" class="footer-image" alt="twitter"></a> 
    <a href="https://www.facebook.com/MSDhoni/"><img src="/Images/facebook.png" class="footer-image" alt="facebook"></a> 
    <a href=""><img src="/Images/instagram.png" class="footer-image" alt="instagram"></a> 
  </footer>  


    
</body>
</html>