<br><br>

<form method="post" action="/otpVerify">
  
<label >OTP<input  value="NA" name="userOTP" placeholder="OTP"></label>
<input hidden name="originalOTP" value="<%= otp %>" >
        <button type="submit">Submit OTP</button>
        </form>